.cardsWrap {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;

	.card {
		padding: 20px 0;
		background: #161616;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.input {
		background: #222222;
		padding: 0 3px;
		height: 35px;
		border-radius: 6px;
		margin: 0 5px;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	.clear {
		background: #222222;
		padding: 0 8px;
		height: 35px;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
